* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

#header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: tomato;
    padding: 10px;
}

header h1 {
    text-align: center;
    color: black;
    display: inline;
}

#logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

#myButton {
    color: blue;
    width: 70px;
}

#basic-intro {
    margin-top: 80px; 
}
#me{
    height: 200px;
    width: 200px;
}
content{
    display: inline;
}