*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}
#header{
    display: inline-block;
    color: tomato;
}
.header h1{
    text-align: center;
    display: inline-block;
}
#logo{
    align-items: flex-start;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}