* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F8FAFC;
}
/*Hearder stuff*/
#header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0F172A;
    padding: 10px;
}

header h1 {
    text-align: center;
    color: white;
    display: inline;
    font-size: 20px;
    text-decoration: none;
}

#logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
/*Till here header stuff*/

#basic-intro {
    margin-top: 80px; 
}
/*My Introduction*/
#me{
    height: 200px;
    width: 200px;
}
.me p{
    display: inline-block;
    margin-left: 20px;
}
/*TIll here my introduction*/

/*Footer stuff*/
.footer {
    text-align: center;
    padding: 10px;
    background-color: #0F172A;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*Till here footer stuff*/