* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F8FAFC;
}
/*Hearder stuff*/
#header {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 10px;
}

header h1 {
    text-align: center;
    color: #1E2A23 ;
    display: inline;
    font-size: 20px;
    text-decoration: none;
}

#logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
/*Till here header stuff*/

#basic-intro {
    margin-top: 80px; 
}
/*My Introduction*/
#me{
    height: 200px;
    width: 200px;
}
.me p{
    display: inline-block;
    margin-left: 20px;
}
/*TIll here my introduction*/

/*Footer stuff*/
.footer {
    text-align: center;
    padding: 10px;
    background-color:#ffffff;
    color: #1E2A23;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.1);
}
/*Till here footer stuff*/
/*Navigation bar*/
nav{
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #1E2A23;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    top: 0;
    right: 0;
    height: 100vh;
    position: fixed;
    width: 250px;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    backdrop-filter: blur(10px);
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}